
.montserrat-rdiv {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.rbody{
    background-color: rgb(254, 255, 255);
}

.rdiv{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* font-family: ; */
    /* font-family: mont; */
    font-family: 'roboto';
    font-weight: 500;

}
.rhead{
    color: #6dc327;
}
.rform{
    color: rgb(88, 85, 85);
}
.auto-type{
    color: rgb(111, 122, 106);
}